  <!DOCTYPE html>
  <html>
  <head>

    <title>Swear Jar - Cal Hacks 2014 Submission</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="../static/css/agency.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/libs/nv.d3.css">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="swearJar" ng-controller="SwearJarController">
  <!--  <script>
      window.fbAsyncInit = function() {
      FB.init({
        appId      : '661005694006952',
        xfbml      : true,
        version    : 'v2.1'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      
    }(document, 'script', 'facebook-jssdk'));

  </script>-->

    <div ng-if="!loggedIn">
       <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="#page-top">Swear Jar</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#product">Product</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#analytics">Analytics</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#team">Team</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

      <!-- Header -->
      <header>
          <div class="container">
              <div class="intro-text">
                  <div class="intro-heading">Swear Jar</div>
                  <div class="intro-lead-in">A mobile app that fixes one potty-mouth at a time!</div>
                  <a href="#product" class="page-scroll btn btn-xl">Tell Me More</a>
                  <a href="#" class="page-scroll btn btn-xl" ng-click="login()">Log In for Analytics</a>
              </div>
          </div>
      </header>

      <!-- Procuts Section -->
      <section id="product">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">What is Swear Jar?</h2>
                      <h3 class="section-subheading text-muted">Swear Jar is an Android app that helps you swear less on a daily basis.</h3>
                  </div>
              </div>
              <div class="row text-center">
                  <div class="col-md-4">
                      <div class="phone-preview" id="phone1"></div>
                      <h4 class="service-heading">A Virtual Swear Jar</h4>
                      <p class="text-muted">Our app acts as a virtual swear jar that allows you to keep track of how much you type swear words on your mobile device.</p>
                  </div>
                  <div class="col-md-4">
                      <div class="phone-preview" id="phone2"></div>
                      <h4 class="service-heading">A Dollar for A Swear</h4>
                      <p class="text-muted">We track the times you swear to your friends, and places money into your virtual swear jar.</p>
                  </div>
                  <div class="col-md-4">
                      <div class="phone-preview" id="phone3"></div>
                      <h4 class="service-heading">A Chance to Give Back</h4>
                      <p class="text-muted">Once your swear jar is full, donate the money collected to your favourate charity. (Or get publicly shamed for your bad mouth :P)</p>
                  </div>
              </div>
          </div>
      </section>

      <!-- Portfolio Grid Section -->
      <section id="analytics" class="bg-light-gray">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Analytics</h2>
                      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                  </div>
              </div>
              <div class="row">
              </div>
          </div>
      </section>

      <!-- Team Section -->
      <section id="team" class="bg-light-gray">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Our Amazing Team</h2>
                      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="../static/img/team/1.jpg" class="img-responsive img-circle" alt="">
                          <h4>Kay Garland</h4>
                          <p class="text-muted">Lead Designer</p>
                          <ul class="list-inline social-buttons">
                              <li><a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="../static/img/team/2.jpg" class="img-responsive img-circle" alt="">
                          <h4>Larry Parker</h4>
                          <p class="text-muted">Lead Marketer</p>
                          <ul class="list-inline social-buttons">
                              <li><a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="../static/img/team/3.jpg" class="img-responsive img-circle" alt="">
                          <h4>Diana Pertersen</h4>
                          <p class="text-muted">Lead Developer</p>
                          <ul class="list-inline social-buttons">
                              <li><a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                  </div>
              </div>
          </div>
      </section>
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <span class="copyright">Copyright &copy; IntoChris 2014</span>
                  </div>
                  <div class="col-md-4">
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
    </div>

    <div id="dashboard" ng-if="loggedIn" class="container">
      <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-brand" ng-bind="userName">
        </div>
      </header>
      <div id="dashboard-labels" class="row">
        <div class="col-xs-12">
          <div class="well">
            <h4>What</h4>
            <div class="row">
              <div class="col-xs-6">
                <table class="table">
                  <tr  ng-repeat="x in what">
                    <td ng-bind="x.label"></td>
                    <td ng-bind="x.value"></td>

                    <td><button ng-click="popWordCloud(x)" class="btn">Show Context</button></td>
                    <!--<td><button ng-click="popWordCloud(x)" class="btn">See Context</button></td>-->
                  </tr>
                </table>
              </div>
              <div class="col-xs-6">
                <svg id="what-chart" style="height:300px;"></svg>
              </div>
          </div>
        </div>
        <div class="col-xs-12" >
          <div class="well">
            <h4>Who</h4>
            <div class="row">
              <div class="col-xs-6">
                <svg id="who-chart-to" style="height:300px;"></svg>
              </div>

              <div class="col-xs-6">
                <svg id="who-chart-from" style="height:300px;"></svg>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
      <div id="dashboard-labels" class="row">
        <div class="col-xs-12" >
          <div class="well">
            <h4>Time Series</h4>
            <div class="row">
              <div class="col-xs-6">
                <svg id="timeseries-chart" style=""></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div id="" class="modal-body">
            <canvas id="wordCloud"></canvas>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  <script src="../static/libs/jquery-1.11.1.min.js"></script> <script src="../static/js/service.js"></script> <script src="../static/js/dashboard.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="../static/libs/nv.d3.min.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/charting.js"></script>
  <script src="../static/js/service.js"></script>
  <script src="../static/libs/wordcloud2.js"></script>
  <script src="../static/js/response.min.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="../static/libs/classie.js"></script>
  <script src="../static/libs/cbpAnimatedHeader.js"></script>
  <script src="../static/libs/jqBootstrapValidation.js"></script>
  <script src="../static/js/agency.js"></script>

  </body>
  </html>
